#map {
    margin-top: 50px;
    height: 700px;
    background-color: rgb(238,220,200);
}

.node circle {
    fill: #fff;
    stroke: none;
    stroke-width: 1px;

}

.node {
    font-size:10px ;
}

.link {
    fill: none;
    stroke-width: 5px;
}
